* {
  box-sizing: border-box;
  margin: 0;
}
.HomePage {
  background-color: rgb(220, 220, 220);
  /* justify-content: center; */
}
#carouselExample {
  /* position: relative; */
  width: 100%;
  cursor: pointer;
}
.Categories {
  /* position: absolute;
  margin-top: -97px;
  z-index: 50; */
  width: 100%;
  top: 45%;
  display: flex;
  justify-content: space-between;
  /* gap: 1%; */
}
.Categories-cards {
  /* width: 23% !important; */
  margin: 0;
  padding: 15px !important;
  background-color: white;
  padding: 1%;
}
.Categories-Title {
  margin: 1%;
  font-size: 25px;
}
.Categories-Image {
  height: 300px;
  width: 100%;
  cursor: pointer;
  display: block;
  /* margin: 0.5% auto; */
}
.Categories-Link {
  color: rgb(65, 117, 145);
  text-decoration: none;
  display: block;
  margin-left: 3%;
  margin-top: 3%;
}
.Categories-Link:hover {
  color: #c45500;
  text-decoration: underline;
}
.row {
  position: "relative";
  display: "block";
  margin: "20px";
}
.Category_Items_Carousel {
  /* height: auto;
  width: 100%;
  margin-left: 10px;
  margin-top: 25px;
  padding: 0; */
  background-color: white;
}
.Category_Items_Title {
  margin: 10px;
  font-size: 25px;
}
.Category_Items_Link {
  margin-top: 20px;
  color: rgb(96, 158, 191);
  text-decoration: none;
  cursor: pointer;
}
.Category_Items_Link:hover {
  color: #c45500;
  text-decoration: underline;
}
.Category_Items_Card {
  margin-left: 10px;
  width: 90% !important;
}
.Category_Items_Image {
  height: 200px;
  width: 150px !important;
}
.Mid_Img {
  margin-left: 13%;
}
.Category_Offers_Image {
  height: auto;
  /* width: 200px !important; */
}
.Item_Offer {
  background-color: #cc0c39;
  width: 70%;
  margin: 0;
  padding: 3px 9px;
  color: white;
}
.Item_Offer_Dis {
  margin: 0;
}
.slick-prev {
  left: 5px !important;
  z-index: 100 !important;
}
.slick-prev:before,.slick-next:before {
  opacity: 1 !important;
  color: black !important;
}
.slick-next {
  right: 5px !important;
  z-index: 100 !important;
}
.slider-container{
  background-color: white !important;
  margin-bottom:30px !important;
}
/* @media screen and (max-width: 770px) {
  .card1 {
    display: none !important;
  }
}
@media screen and (max-width: 550px) {
  .card2 {
    display: none !important;
  }
  .Category_Items_Card{
    flex:1;
  } */
/* } */