.wrap-card {
  max-width: 20rem;
  border-top: 3px solid #ddd;
  margin: auto;
}
.product .card {
  cursor: pointer;
  max-width: 19rem !important;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  border-radius: 2px;
}
.product .card-img-top {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}
.product .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product .card-body .card-text {
  font-weight: 500;
}
.product .card-body .card-text .text-tomorrow {
  font-weight: 700;
}

.product .rate .iconstar .fa-chevron-down {
  color: #adadad;
  font-size: 9px !important;
}
.product .rate .iconstar .rate-number {
  color: var(--mainColor);
}
