:root {
  --main-color: #252f3e;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navBar {
  min-height: 34px;
  width: 100%;
  background-color: var(--main-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar .links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 0 30px !important;
  padding: 0 !important;
  z-index: 95; 

}

.navBar .links .all {
  padding: 7px;
  height: 34px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap:4px;
}
.navBar .links li {
  display: inline-block;
  list-style: none;
  padding: 6px 9px;
  cursor: pointer;
  border-radius: 2px;
}

.navBar .links li:hover {
  border: 1.3px solid white;
}

.navBar .links li a {
  color: white;
  text-decoration: none;
}

.navBar img {
  max-height: 100%;
  cursor: pointer;
}
.mobile-screen {
  width: 100%;
  display: none;
}
@media screen and (max-width: 1100px) {
  .navBar img {
    display: none;
  }
  .navBar {
    justify-content: center;
  }
}

@media screen and (max-width: 680px) {
  .navBar {
    overflow-y: scroll;
    justify-content: flex-start;
  }
  .navBar .links {
    flex-wrap: nowrap;
  }

}
.navBar .mobile-screen .show-icons {
  display: flex;
  justify-content: space-around;
}
.navBar .mobile-screen .show-icons a {
  color: white;
  cursor: pointer;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mobile-screen .show-icons a i {
  font-size: 18px;
  color: white;
}
.layout {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 105;
  transition: 2s;
  display: none;
}
.menu {
  position: fixed;
  left: -27%;
  top: 0;
  height: 100vh;
  width: 24%;
  background-color: white;
  z-index: 150;
  transition: 1s;
}
.menu .header {
  background-color: var(--main-color);
  height: 45px;
  width: 100%;
}
.x-mark {
  position: absolute;
  left: 99%;
  top: 1%;

  cursor: pointer;
}
.header {
  display: flex;
  align-items: center;
}

.header .info #signUser {
  color: white;
}

.heading {
  color: white;
  margin: 10px 0 10px 20px;
  font-size: 19px !important;
}

.shop a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #111111;
}

.trending,
.digital,
.shop,
.help {
  margin: 20px 0 30px;
  border-bottom: 1px solid #d6dbdb;
}

.trending h4,
.digital h4,
.shop h4,
.help h4 {
  font-size: 18px;
  padding: 0 20px;
  margin: 10px 0;
}

.trending div,
.digital div,
.help div,
.shop a,
.help a {
  font-size: 14px;
  color: #111111;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

.help a {
  display: flex;
}

.trending div:hover,
.digital div:hover,
.shop a:hover,
.help div:hover,
.help a:hover {
  background-color: #eee;
  width: 100%;
}
