.filter-by-rating .rating {
  color: var(--yellowColor) !important;
}

.filter-by-rating .Wrap-rating {
  cursor: pointer;
}
.filter-by-rating .Wrap-rating:hover {
  cursor: pointer;
  color: red;
}

.filter-by-rating .Wrap-rating span {
  font-size: 13px;
}
